################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TinyManCronJob
/TinyManCronJob/bin/Debug/net6.0
/TinyManCronJob/obj
/TinyManCronJob/appsettings.json
/.vs
